{% extends "base.html" %}

{% block content %}
<h1>Создание объявления</h1>
<h2>В разработке</h2>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.advertisement_type.label }}<br>
        {{ form.advertisement_type(class="form-control") }}<br>
        {% for error in form.advertisement_type.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <p>
        {{ form.price.label }}<br>
        {{ form.price(class="form-control") }}<br>
        {% for error in form.price.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <div id="number-of-rooms-field" style="display: none;">
        <p>
            {{ form.number_of_rooms.label }}<br>
            {{ form.number_of_rooms(class="form-control") }}<br>
            {% for error in form.number_of_rooms.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
           {% endfor %}
        </p>
    </div>
    <div id="square-field" style="display: none;">
        <p>
            {{ form.square.label }}<br>
            {{ form.square(class="form-control") }}<br>
            {% for error in form.square.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
           {% endfor %}
        </p>
    </div>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var advertisementTypeFiled = document.getElementById("advertisement_type");
    var numberOfRoomsField = document.getElementById("number-of-rooms-field");
    var squareField = document.getElementById("square-field");

    advertisementTypeFiled.addEventListener('change', function() {
        if (advertisementTypeFiled.value === 'flat') {
            numberOfRoomsField.style.display = 'block';
            squareField.style.display = 'none';
        } else if (advertisementTypeFiled.value === 'plot') {
            squareField.style.display = 'block';
            numberOfRoomsField.style.display = 'none';
        }
    });
});
</script>
{% endblock %}