{% extends "base.html" %}

{% block content %}
<h1>Создание объявления</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <p>
        {{ form.announcement_type.label }}<br>
        {{ form.announcement_type(class="form-control") }}<br>
        {% for error in form.announcement_type.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control", autocomplete="off") }}<br>
        {% for error in form.title.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
        {% endfor %}
    </p>

    <p>
        {{ form.city.label }}<br>
        {{ form.city(class="form-control", autocomplete="off") }}<br>
        {% for error in form.city.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>
        {{ form.street.label }}<br>
        {{ form.street(class="form-control", autocomplete="off") }}<br>
        {% for error in form.street.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>
        {{ form.number_of_house.label }}<br>
        {{ form.number_of_house(class="form-control", autocomplete="off") }}<br>
        {% for error in form.number_of_house.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>


    <p>
        {{ form.price.label }}<br>
        {{ form.price(class="form-control", autocomplete="off") }}<br>
        {% for error in form.price.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>


    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control", autocomplete="off") }}<br>
        {% for error in form.description.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
        {% endfor %}
    </p>

    <p>
        {{ form.square.label }}<br>
        {{ form.square(class="form-control", autocomplete="off") }}<br>
        {% for error in form.square.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
        {% endfor %}
    </p>

    <p>
        {{ form.number_of_rooms.label }}<br>
        {{ form.number_of_rooms(class="form-control", autocomplete="off") }}<br>
        {% for error in form.number_of_rooms.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
        {% endfor %}
    </p>


    <div id="floor-field" style="display: block;">
        <p>
            {{ form.floor.label }}<br>
            {{ form.floor(class="form-control", autocomplete="off") }}<br>
            {% for error in form.floor.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
           {% endfor %}
        </p>
    </div>

    <div id="kitchen-square-field" style="display: block;">
        <p>
            {{ form.kitchen_square.label }}<br>
            {{ form.kitchen_square(class="form-control", autocomplete="off") }}<br>
            {% for error in form.kitchen_square.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
           {% endfor %}
        </p>
    </div>

    <div id="number-of-floors-field" style="display: none;">
        <p>
            {{ form.number_of_floors.label }}<br>
            {{ form.number_of_floors(class="form-control", autocomplete="off") }}<br>
            {% for error in form.number_of_floors.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
           {% endfor %}
        </p>
    </div>

    <div id="year-of-construction-field" style="display: none;">
        <p>
            {{ form.year_of_construction.label }}<br>
            {{ form.year_of_construction(class="form-control", autocomplete="off") }}<br>
            {% for error in form.year_of_construction.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
           {% endfor %}
        </p>
    </div>

    <p>
        {{ form.photo.label }}<br>
        {{ form.photo(class="form-control", type="file") }}<br>
        {% for error in form.photo.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>

    <p>{{ form.is_sell() }} {{ form.is_sell.label }}</p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var announcementTypeFiled = document.getElementById("announcement_type");
    var floorField = document.getElementById("floor-field");
    var kitchenSquareField = document.getElementById("kitchen-square-field");
    var numberOfFloorsField = document.getElementById("number-of-floors-field");
    var yearOfConstructionField = document.getElementById("year-of-construction-field");


    announcementTypeFiled.addEventListener('change', function() {
        if (announcementTypeFiled.value === 'flat') {
            kitchenSquareField.style.display = 'block';
            floorField.style.display = 'block';
            numberOfFloorsField.style.display = 'none';
            yearOfConstructionField.style.display = 'none';
        } else if (announcementTypeFiled.value === 'house') {
            floorField.style.display = 'none';
            kitchenSquareField.style.display = 'none';
            numberOfFloorsField.style.display = 'block';
            yearOfConstructionField.style.display = 'block';
        }
    });
});
</script>
{% endblock %}