{% extends "base.html" %}

{% block content %}
<h1>Создание объявления</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.advertisement_type.label }}<br>
        {{ form.advertisement_type(class="form-control") }}<br>
        {% for error in form.advertisement_type.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
</form>
{% endblock %}